.reminders-list {
  max-height: 150px;
  overflow: auto;
  
  .reminders{
    margin-bottom: 10px;
  }
}

.center-text{
  text-align: center;
}

.remove-all{
    position: absolute;
    margin-top: -35px;
    margin-left: 110px;
}


.reminders-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.reminders-list::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.reminders-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555555a3;
}

.loading {
  position: absolute;
  margin-left: 50px;
}