<div>
  <div class="reminders-list" *ngIf="reminders.length > 0">
    <button mat-button class="remove-all" (click)="removeAllReminders()"><mat-icon>delete</mat-icon></button>
    <div class="reminders" *ngFor="let reminder of reminders">
      <app-reminder-label 
      *ngIf="reminder"
      [reminder]="reminder"
      (removeReminder)="removeReminder(reminder)"
      (editReminder)="openReminderDialog(reminder)">
    </app-reminder-label>
    </div>
  </div>
  <div class="center-text">
    <button mat-button (click)="openReminderDialog()">New Reminder +</button>
  </div>
</div>