  <mat-card class="general-reminder" [ngClass]="getClassBackground()">
    <div class="label-buttons">
      <button (click)="editReminderAction()" mat-icon-button>
        <mat-icon>create</mat-icon>
      </button>
      <button (click)="removeReminderAction()" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div>
     <p>
      Reminder: {{ reminder?.text }}
     </p>
     <p>
      City: {{ reminder?.city.name }}
     </p>
     <p>
      Time: {{ reminder?.time.getStringTime() }}
     </p>
     <p *ngIf="!!reminder.weather">
      Weather: {{ reminder.weather }}
     </p>
    </div>
  </mat-card>