.main-calendar{
  margin-top: 15px;
}

.calendar-action{
  display: flex;
  justify-content: center;
}

.month{
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  font-weight: bolder;
  letter-spacing: normal;
  font-size: 20px;
  text-align: center;
}